@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: $blue;
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 500px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.header {
    font-size: 55px;
    margin: 0 0 64px 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hydrapp {
    width: 280px;
    height: 280px;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 112px;
    &__add {
        padding: 12px;
        font-size: 18px;
        border: none;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        min-width: 216px;
        margin: 48px 0 26px;
    }
    &__delete {
        font-size: 14px;
        color: #F5E5E7;
        background: none;
        border: none;
        justify-content: center;
        min-width: 216px;
        padding: 12px;
    }
    &__counter {
        position: absolute;
        padding-top: 64px;
        color: black;
    }
}